* {
   
    align-content: center;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    
}

.cabeçalho {
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-bottom: 1px #ccc solid;
}

.logo {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 200px;
}

.circle{

    background-color: rgb(223, 23, 23);
    min-width: 15px;
    height: 15px;
    border-radius: 150px;
}

nav a {
    text-decoration: none;
    margin-left: 15px;
    color: #333;
    padding-bottom: 10px;
    font-weight: 400;
    

}
nav #first {
    color: rgb(68, 68, 68);
    border-bottom: 2px rgb(199, 33, 33) solid;
    font-weight: 600;
    

}

nav a:hover {
    color: rgb(68, 68, 68);
    border-bottom: 2px rgb(0, 0, 0) solid;
    font-weight: 600;

}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

i{
    background: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

#entrar {
    border-style: none;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    height: 47px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
}

#entrar:hover {

    font-weight: 700;
    cursor: pointer;

}

#cadastrar {

    border-style: none;
    height: 47px;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    background-color: rgb(122, 122, 122);
    color: white;
    font-size: 16px;
    font-weight: 600;

}

#cadastrar:hover {

    background-color: rgb(84, 84, 84);
    cursor: pointer;

}

<<<<<<< HEAD
.calltoaction{

    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 500px;
    justify-content: center;


}

.calltoaction h1{
    font-size: 45px;
    font-weight: 900;
}

.calltoaction p{

    width: 550px;
    text-align: center;
    margin-bottom: 80px;
}


.calltoaction button{
    background-color: rgb(63, 63, 63);
    border: 10px rgb(32, 32, 32);
    padding: 10px;
    border-radius: 100px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}
=======
.sectionOne{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    align-items: center;
    height: 500px;
    justify-content: center;
    gap: 12px;
}

.sectionOne h1 {
    text-align: center;
    font-size: 52px;
}

.sectionOne p {
    text-align: center;
}

.callToAction{
    width: 164px;
    border-style: none;
    height: 42px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}
>>>>>>> eb6cac1db8c32966ec77ec3ada00c364b7273dad
